:root {
  --btn-colour-1: lime;
  --btn-colour-2: red;
  --btn-colour-3: blue;
}

body {
  padding: 30px;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  background: black;
}

@font-face {
  font-family: blrrpixs;
  src: url(blrrpixs016.ttf);
}

.btn, .layers > div {
  border-radius: 10px;
  padding: 5px 10px;
  display: block;
}

.container {
  margin: 0;
}

.layers {
  position: relative;
  margin: 60px 0;
}

.layers::marker {
  content: "";
}

.layers > * {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'blrrpixs', 'VT323', monospace;
}

.layers > div {
  position: absolute;
  opacity: 1;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: all 200ms ease;
  /* filter: blur(3px); */
}

.layers > a.btn:nth-child(1) {
  position: absolute;
  border: 4px solid black;
  z-index: 0;
  cursor: pointer;
}

.layers > a.btn:hover ~ div {
  transform: translate(0, 0);
}

.layers > div:nth-child(2) {
  background: var(--btn-colour-1);
  border: 4px solid var(--btn-colour-1);
  color: var(--btn-colour-1);
  transform: translate(-5px, 5px);
  transition-delay: 25ms;
  z-index: -1;
}

.layers > div:nth-child(3) {
  background: var(--btn-colour-2);
  border: 4px solid var(--btn-colour-2);
  color: var(--btn-colour-2);
  transform: translate(-10px, 10px);
  transition-delay: 50ms;
  z-index: -2;
}

.layers > div:nth-child(4) {
  background: var(--btn-colour-3);
  border: 4px solid var(--btn-colour-3);
  color: var(--btn-colour-3);
  transform: translate(-15px, 15px);
  transition-delay: 75ms;
  z-index: -3;
}